<html>
    <head>
       <title>Form Test Index</title>
       <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/stylesheet.css')}}">
       <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script> -->
    </head>
    <body>
      <h1>Index Page</h1>
      <h3>Create a User</h3>
      <form action='/users' method='post'>
          Name: <input type='text' name='name'> <br><br>
          Email: <input type='text' name='email'> <br><br>
          Favorite Language:  <select name="lang">
                                <option value="Python">Python</option>
                                <option value="Ruby">Ruby</option>
                                <option value="C#">C#</option>
                                <option value="C++">C++</option>
                                <option value="iOS">iOS</option>
                                <option value="Mean">Mean</option>
                                <option value="Java">Java</option>
                              </select> <br><br>
          Comments: <input class="comments" type="text" name="comments"> <br><br>
          <input type='submit' value='create user'>
      </form>
    </body>
</html>
