<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>session sample index</title>
    <link rel="text/stylesheet" type="text/css" href="{{url_for('static', filename='css/stylesheet.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
  </head>
  <body>
    <form action="/" method="post">
      <b>User</b> <br>
      Name: <input type="text" name="name"> <br>
      Email: <input type="text" name="email"> <br>
      <input type="submit"value="Submit">
    </form>
  </body>
</html>
